{% extends 'squelette.html' %}

{% block contenu %}
    {% if prev_url %}
        <div><a class="w3-right-align w3-flat-sun-flower-txt w3-button w3-hover-amethyst w3-round-xxlarge"
                href="{{ prev_url }}">Nouveaux posts</a></div>
    {% endif %}
    {% if posts %}
        {% for post in posts %}
            <div class="w3-border w3-border-little-belize-hole">
                <h1 class="w3-center w3-flat-sun-flower-txt "><a class="w3-hover-amethyst "
                                                                 href="{{ url_for('view_post',post_id = post.id_post) }}">{{ post.title }}</a>
                </h1>

                <h4 class="w3-right-align w3-flat-sun-flower-txt"><a class="w3-hover-amethyst"
                                                                     href="{{ url_for('viewcategory', course = post.course) }}">{{ post.course }}</a>
                    {% if post.category != 'none' %} ->
                        <a class="w3-hover-amethyst"
                           href="{{ url_for('viewcategory',course=post.course, category=post.category) }}">{{ post.category }}</a> {% endif %}
                    {% if post.subcategory != 'none' %} -><a class="w3-hover-amethyst"
                                                             href="{{ url_for('viewcategory',course=post.course, category=post.category,subcategory=post.subcategory) }}">{{ post.subcategory }}</a> {% endif %}
                </h4>

                <div class="w3-flat-sun-flower-txt">
                    {{ post.content|markdown|truncate(120, True) }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2 class="w3-center w3-flat-sun-flower-txt "> Aucun post n'a été trouvé !</h2>
    {% endif %}

    {% if next_url %}
        <a class="w3-right-align w3-flat-sun-flower-txt w3-button w3-hover-amethyst w3-round-xxlarge"
           href="{{ next_url }}">Anciens Posts</a>
    {% endif %}
{% endblock %}
