<h3 class="w3-center w3-flat-sun-flower-txt">Quelques liens utiles</h3>

<ul class="w3-flat-sun-flower-txt">
    <li>Vous trouverez <a href="https://www.education.gouv.fr/les-programmes-du-lycee-general-et-technologique-9812"
                          target="_blank">les programmes du Lycée ici.</a></li>
    <li><a href="https://pixees.fr/informatiquelycee/" target="_blank">Le site Pixees</a>, un des sites les plus
        complets sur NSI et SNT.
    </li>
    <li><a href="" target="_blank"></a></li>
    <li><a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" target="_blank">Le
        méga tuto Flask</a>, sans quoi ce site n'existerais pas.
    </li>
    <li><a href="https://docs.python.org/fr/3/" target="_blank">La doc Python 3</a>, l'essentiel.</li>
</ul>

<h3 class="w3-center w3-flat-sun-flower-txt">Me contacter</h3>



